@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "variable";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
    line-height: 1.4;
    background-color: #FDFDFD;
}

a {
    text-decoration: none;
}


/* container  */
.container {
    width: 1180px;
    margin: 0 auto;

    @media (max-width: 1199.98px) {
        width: 960px;
    }
    
    
    @media (max-width: 991.98px) {
        width: 720px;
    }
    
    @media (max-width: 767.98px) {
        width: 540px;
    }
    
    @media (max-width: 575.98px) {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* End container  */


/* button  */
.button {
    height: 44px;
    background-color: $color-main;
    border-radius: 57px;
    color: #FDFDFD;
    display: inline-flex;
    padding: 0 28px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
/* End button  */


/* button outline  */
.button-outline {
    height: 44px;
    display: inline-flex;
    align-items: center;
    padding: 0 28px;
    color: $color-main;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border-radius: 57px;
    border: 1.5px solid $color-main;

    i {
        font-size: 18px;
        color: $color-main;
        margin-left: 11px;
    }

    &--icon-left {
        margin-left: 0;
        margin-right: 10px;
    }

    @media(max-width: 767.98px) {
        display: flex;
        justify-content: center;
    }
}



/* End button outline  */


/* header  */
.header {
    padding: 28px 0;

    &__wrap {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;
        z-index: 999;
    }

    &__logo img {
        width: auto;
        height: 40px;
    }

    &__menu {
        flex: 1;
        text-align: center;

        ul {
            display: inline-flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 48px;

            a {
                font-weight: 700;
                font-size: 16px;
                color: $color-main;
            }
        }
    }

    &__form {
        background-color: #F3F3F3;
        height: 44px;
        width: 280px;
        border-radius: 46px;
        padding: 0 16px;
        display: inline-flex;
        gap: 12px;

        input {
            border: 0;
            outline: 0;
            height: 100%;
            background-color: transparent;
            flex: 1;
            order: 1;
        }

        button {
            font-size: 16.5px;
            color: $color-text-light;
            border: 0;
            background-color: transparent;
            order: 0;
            padding: 0;
        }
    }

    &__search-mobile {
        display: none;
    }

    &__menu-mobile {
        display: none;
    }

    @media (max-width: 1199.98px) {
        .button {
            display: none;
        }
    }
    
    
    @media (max-width: 991.98px) {
        &__search-mobile {
            display: inline-flex;
            font-size: 23px;
            color: $color-text-dark;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    
        &__form {
            display: none;
        }
    }
    
    @media (max-width: 767.98px) {
        padding: 12.5px 0; 
    
        &__wrap {
            justify-content: space-between;
        }
    
        &__menu-mobile {
            display: inline-flex;
            font-size: 23px;
            color: $color-text-dark;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }

        &__menu {
            display: none;
        }
    
        &__logo img {
            height: 32px;
        }
    }
}

/* End header  */




/* section-1  */
.section-1 {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 0 0 40px 40px;
    margin-top: -102px;
    padding-top: 102px;
    overflow: hidden;

    &__wrap {
        display: flex;
        position: relative;

        
    }

    &__bg-4 {
        position: absolute;
        top: -102px;
        left: -130px;
    }

    &__content {
        width: 50%;
        padding-top: 80px;
        padding-right: 76px;
        position: relative;
    }

    &__bg-1 {
        position: absolute;
        top: 75px;
        left: -10px;   
    }

    &__title {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        color: #002A48;
        position: relative;
    }

    &__title-main {
        font-size: 60px;
    }

    &__title-sub {
        font-size: 46px;
    }

    &__desc {
        font-size: 16px;
        font-weight: 500;
        color: #242B33;
        margin-bottom: 34px;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }

    .button-outline {
        height: 48px;
    }

    .button {
        height: 48px;
        font-weight: 500;
    }

    &__bg-2 {
        position: absolute;
        bottom: 0;
        left: -120px;
    }

    &__image {
        width: 50%;
        padding-right: 74px;
        position: relative;
    }

    &__image-main {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    &__bg-3 {
        position: absolute;
        bottom: 0;
        left: -100px;
    }

    @media (max-width: 1199.98px) {
        &__title-main {
            font-size: 52px;
        }
    
        &__title-sub {
            font-size: 36px;
        }
    
        &__bg-2 {
            left: -15px;
            height: 50px;
        }
    }
    
    @media (max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
        }
    
        &__content {
            width: 100%;
            padding-top: 35px;
            padding-right: 0;
        }
    
        &__image {
            width: 100%;
            padding-right: 0;
            margin-top: 25px;
        }
    
        &__bg-2 {
            display: none;
        }
    }
    
    @media (max-width: 767.98px) {
        &__bg-4 {
            left: 15%;
        }
    }
    
    
    @media (max-width: 576.98px) {
        border-radius: 0 0 20px 20px;
    
        &__content {
            z-index: 1;
        }
    
        &__title {
            margin-bottom: 12px;
        }
    
        &__title-main {
            font-size: 46px;
        }
    
        &__title-sub {
            font-size: 28px;
        }
    
        &__desc {
            font-size: 12px;
            margin-bottom: 32px;
        }
    
        &__bg-3 {
            bottom: -45px;
            left: -36px;
        }
    
        &__bg-4 {
            left: 8%;
        }
    
        &__bg-1 {
            display: none;
        }
    }
    
    @media (max-width: 480px) {
        &__bg-4 {
            left: 2%;
        }
    }
}


/* End section-1  */


/* box-head  */
.box-head {
    margin-bottom: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__sub-title {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin-bottom: 2px;
    }
    
    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $color-main;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    
    &__right {
        .button-outline {
            font-size: 14px;

            i {
                font-size: 10px;
            }
        }
    }
    
    @media(max-width: 767.98px) {
        &__right {
            display: none;
        }
        
        &__sub-title {
            font-size: 14px;
            margin-bottom: 2px;
        }
        
        &__title {
            font-size: 20px;
        }
    }
}


/* End box-head  */

/* product-item  */
.product-item {
    background-color: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    padding: 8px 8px 0 8px;
    border-radius: 12px;

    &__image {
        margin-bottom: 8px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            display: block;
        }
    }
    
    &__content {
        padding: 8px 8px 20px 8px;
    }
    
    &__title {
        margin-top: 0;
        font-weight: 700;
        font-size: 16px;
        color: $color-text-dark;
        margin-bottom: 4px;
    }
    
    &__infor {
        display: flex;
        flex-wrap: wrap;
        gap: 4px 26px;
        margin-bottom: 4px;
    }
    
    &__infor-item {
        font-size: 12px;
        color: $color-text-light;
        font-weight: 500;
        position: relative;

        b {
            font-weight: 700;
        }

        &::after {
            content: "";
            width: 3px;
            height: 3px;
            display: inline-block;
            background-color: $color-text-light;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            right: -13px;
        }

        &:last-child::after {
            display: none;
        }
    }
        
    
    &__price {
        font-size: 14px;
        font-weight: 700;
        color:$color-text-dark;
    }
    
    @media(max-width: 575.98px) {
        &__title {
            font-size: 14px;
        }
    
        &__infor-item::after {
            display: none;
        }
    }
}

/* End product-item  */

/* section-2  */
.section-2 {
    padding: 60px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 60px) / 4);
        }
    }
    
    &__button-bottom {
        display: none;
    }
    
    @media(max-width: 991.98px) {
        &__wrap .product-item {
            width: calc((100% - 40px) / 3);
        }
    }
    
    @media(max-width: 767.98px) {
        &__wrap {
            gap: 12px;

            .product-item {
                width: calc((100% - 12px) / 2);
            }
        }
    
        &__button-bottom {
            display: block;
            margin-top: 16px;

            .button-outline {
                display: flex;
                justify-content: center;
            }
        }
    }
    
    @media(max-width: 575.98px) {
        padding: 40px 0;
    }
}

/* End section-2  */


/* section-3  */

.section-3 {
    &__wrap {
        background-image: url(../images/section-3-bg-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 20px;
    }
    
    &__image {
        width: 40%;
        margin-left: 20px;
        margin-top: 36px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    
    
    &__content {
        width: 34%;
        text-align: right;
        margin-top: 58px;
        margin-right: 85px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 8px;
        font-weight: 700;
        color: $color-main;
    }
    
    
    &__title-main {
        font-size: 52px;
    }
    
    &__title-sub {
        font-size: 36px;
    }
    
    
    &__desc {
        font-weight: 500;
        font-size: 12px;
        color: #242B33;
        margin-bottom: 24px;
    }
    
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 18px;
        justify-content: flex-end;

        .button-outline {
            height: 44px;
        }

        .button {
            font-weight: 500;
        }
    }
         
    
    @media (max-width: 1199.98px) {
        &__content {
            width: 40%;
            margin-top: 25px;
            margin-right: 25px;
        }
    
        &__title-main {
            font-size: 42px;
        }
    
        &__title-sub {
            font-size: 28px;
        }
    }
    
    
    @media (max-width: 991.98px) {
        &__wrap {
            background-image: url(../images/section-3-bg-1-mobile.svg);
            flex-wrap: wrap;
        }
    
        &__content {
            width: 100%;
            margin: 0;
            order: 0;
            text-align: center;
            padding: 32px 20px 23px 20px;
        }
        
        &__buttons {
            justify-content: center;
        }
    
        &__image {
            width: 100%;
            margin: 0;
            order: 1;
        }
    }
    
    @media (max-width: 575.98px) {
        &__title-main {
            font-size: 36px;
        }
    
        &__title-sub {
            font-size: 24px;
            margin-bottom: 12px;
        }
    
        &__desc {
            margin-bottom: 32px;
        }
    
        &__buttons {
            gap: 10px 13px;
        }
    }
}

/* End section-3  */



/* section-4  */
.section-4 {
    padding: 60px 0;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .blog-item {
            width: calc((100% - 40px)/3);
        }
    }
    
    &__button-bottom {
        display: none;
    }
    
    @media(max-width: 991.98px) {
        &__wrap {
            gap: 12px;

            .blog-item {
                width: calc((100% - 12px)/2);
            }
        }
    }
    
    @media(max-width: 767.98px) {
        &__button-bottom {
            display: block;
            margin-top: 20px;
        }
    }
    
    @media (max-width: 575.98px) {
        padding: 40px 0;
    
        &__wrap .blog-item {
            width: 100%;
        }
    
        .box-head {
            margin-bottom: 20px;
        }
    }
}



/* End section-4  */


/* blog-item  */
.blog-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;

    &__img {
        border-radius: 10px;
        overflow: hidden;
        aspect-ratio: 364/240;
        margin-bottom: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block; 
        }
    }
        
    &__content {
        padding: 8px;
    }
    
    &__tag {
        padding: 2px 10px;
        border-radius: 28px;
        background-color: #00A7E7;
        font-weight: 700;
        font-size: 10px;
        color: #FDFDFD;
        display: inline-flex;
        margin-bottom: 10px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 700;
        color: $color-text-dark;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    
    &__desc {
        font-size: 14px;
        font-weight: 400;
        color: #242B33;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}

/* End blog-item  */


/* footer  */
.footer {
    padding: 80px 0 40px 0;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0 0;

    &__top {
        border-radius: 16px;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-main;
    }
    
    &__content {
        font-weight: 700;
        font-size: 20px;
        color: #FDFDFD;
        width: calc(40% - 20px);
        text-transform: capitalize;
    }
    
    &__form {
        width: 60%;
        border-radius: 14px;
        padding: 12px;
        background-color: #FFFFFF;
        display: flex;
        gap: 12px;

        input {
            height: 48px;
            border-radius: 8px;
            border: 1px solid #99A2A5;
            outline: none;
            flex: 1;
            padding: 0 28px;
            font-size: 14px;
            font-weight: 500;

            &::placeholder {
                color: #99A2A5;
            }
            
        }

        button {
            height: 48px;
            background-color: $color-main;
            border-radius: 8px;
            padding: 0 28px;
            font-size: 16px;
            font-weight: 500;
            color: #FDFDFD;
            cursor: pointer;
            border: 0;
            transition: all 0.3s;

            &:hover {
                background-color: #00A7E7;
            }
        }
    }   
            
    &__middle {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #CCD1D2;
    }
    
    &__middle-links {
        ul {
            list-style: none;
            display: flex;
            gap: 10px 60px;
            margin: 0;
            padding: 0;
    
            li a {
                font-weight: 500;
                font-size: 16px;
                color: $color-text-dark;

                &:hover {
                    color: #00A7E7;
                }            
            }
        }
    }
        
    &__socials {
        ul {
            list-style: none;
            display: flex;
            gap: 10px 40px;
            margin: 0;
            padding: 0;

            li a {
                font-size: 24px;
                color: $color-text-dark;

                &:hover {
                    color: #00A7E7;
                }
            }
        }
    }
            
    &__bottom {
        padding-top: 40px;
        display: flex;
        align-items: center;
    }
    
    &__copyright {
        width: 40%;
        font-weight: 500;
        font-size: 14px;
        color: $color-text-light;
    }
    
    &__logo {
        width: 20%;
        text-align: center;

        img {
            width: 115px;
            height: auto;
        }
    }
        
    &__bottom-links {
        width: 40%;

        ul {
            list-style: none;
            display: flex;
            gap: 10px 32px;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: flex-end;

            li a {
                font-weight: 500;
                font-size: 14px;
                color: $color-text-light;
            }
        }
    }
            
    @media(max-width: 991.98px) {
        &__top {
            flex-wrap: wrap;
        }
    
        &__content {
            width: 100%;
            margin-bottom: 16px;
        }
    
        &__form {
            width: 100%;
        }
    
        &__middle {
            flex-wrap: wrap;
        }
    
        &__middle-links {
            width: 100%;
            margin-bottom: 20px;

            ul {
                justify-content: center;
            }
        }
        
        &__socials {
            width: 100%;

            ul {
                justify-content: center;
            }
        }
        
        &__bottom {
            flex-wrap: wrap;
            padding-top: 36px;
        }
    
        &__copyright {
            width: 100%;
            order: 2;
            text-align: center;
        }
    
        &__logo {
            width: 100%;
            order: 0;
            margin-bottom: 32px;
        }
    
        &__bottom-links {
            width: 100%;
            order: 1;
            margin-bottom: 12px;

            ul {
                justify-content: center;

                li a {        
                    font-size: 12px;
                }
            }
        }
    
    
    
        &__copyright {
            font-size: 10px;
        }
    }
    
    
    @media(max-width: 575.98px) {
        border-radius: 20px 20px 0 0;
        padding: 40px 0 16px 0;
    
        &__top {
            padding: 16px;
        }
    
        &__form {
            flex-wrap: wrap;

            input {
                width: 100%;
                flex: none;
            }

            button {
                width: 100%;
            }
        }
        
        &__middle-links {
            ul {
                flex-wrap: wrap;
                gap: 10px 40px;

                li a {
                    font-size: 13px;
                }
            }
        }
    
    
        &__socials {
            ul {
                flex-wrap: wrap;

                li a {
                    font-size: 20px;
                }
            }
        }
    }
}

/* End footer  */


// breadcrumb
.breadcrumb {
    margin-top: 7px;
    margin-bottom: 9px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 36px;

        li {
            position: relative;

            &::after {
                content: "\f105";
                line-height: 1;
                font-weight: 900;
                font-size: 12px;
                font-family: "Font Awesome 6 Free";
                color: $color-text-light;
                position: absolute;
                top: 6px;
                right: -22px;
            }

            &:last-child::after {
                display: none;
            }

            a {
                font-size: 14px;
                font-weight: 500;
                color: $color-text-light;
    
                
            }
        }
    }
}
// End breadcrumb


// Section 5 
.section-5 {
    padding: 60px 0;

    &__head {
        .box-filter__title {
            display: none;
        }
    }

    &__wrap {
        display: flex;
        gap: 20px;
    }

    &__left {
        width: calc(25% - 10px);
    }

    &__right {
        width: calc(75% - 10px);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 24px;
        color: $color-main;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .product-item {
            width: calc((100% - 40px) / 3);
        }
    }

    @media(max-width: 991.98px) {
        &__list {
            .product-item {
                width: calc((100% - 20px) / 2);
            }   
        }
    }

    @media(max-width: 767.98px) {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box-filter__title {
                display: inline-flex;
                font-size: 16px;

                img {
                    width: 16px;
                }
            }
        }

        &__list {
            gap: 12px;
        }
    }

    @media(max-width: 575.98px) {
        padding: 32px 0 40px 0;
    }
}

// End Section 5 

// box-filter
.box-filter {
    &__title {
        font-weight: 700;
        font-size: 20px;
        color: $color-main;
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        img {
            width: 20px;
            height: auto;
            margin-right: 13px;
        }
    }
     
    &__group {
        padding-bottom: 16px;
        border-bottom: 1px solid #EBEEEF;
        margin-bottom: 16px;
    }

    &__group-label {
        font-weight: 700;
        font-size: 16px;
        color: $color-text-dark;
        margin-bottom: 10px;
    }

    &__group-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__group-item {
        display: flex;
        align-items: center;

        input {
            width: 16px; 
            height: 16px;
            margin-right: 10px;
        }

        label {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            color: $color-text-dark;
        }
    }
}
// End box-filter

//pagination
.pagination {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-flex;
        width: 34px;
        height: 34px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 700;
        color: $color-main;

        &--active, &:hover{
            color: #FDFDFD;
            background-color: $color-main;
        }
    }
}
//End pagination

// section-6 
.section-6 {
    padding: 20px 0;

    &__wrap {
        display: flex;
        //flex-wrap: wrap;
        gap: 30px;
        padding: 22px 20px;
        border: 1px solid #EBEEEF;
        border-radius: 20px;
        background-color: #FDFDFD;
    }

    &__images {
        width: calc(50% - 15px);
    }

    &__content {
        width: calc(50% - 15px);
    }

    &__images-main {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__images-thumb {
        display: flex;
        gap: 12px;
        
        img {
            width: calc((100% - 48px) / 5);
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 6px;
            display: block;
        }
    }

    &__title {
        margin-top: 18px;
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 24px;
        color: $color-text-dark;
    }

    &__price {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 20px;
        color: $color-main;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }

    &__table {
        margin-top: 18px;
        margin-bottom: 18px;

        td {
           border-bottom: 1px solid #EBEEEF;
           padding: 10px;
           font-size: 14px;
           font-weight: 500;
           color: $color-text-light;
        }
    }

    @media(max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
        }

        &__images {
            width: 100%;
        }

        &__content {
            width: 100%;
        }
    }

    @media(max-width: 575.98px) {
        .container {
            padding: 0;
        }

        &__wrap {
            padding: 0;
            border: 0;
            gap: 22px;
        }

        &__content {
            box-shadow: 0px -6px 6px 0px #0000000F;
            padding: 32px 16px 20px 16px;
            border-radius: 20px;
        }

        &__title {
            margin-top: 15px;
            margin-bottom: 2px;
        }
    
        &__price {
            margin-bottom: 16px;
        }
    }
}
// End section-6 

//- box-share 
.box-share {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    align-items: center;

    &__label {
        font-size: 14px;
        font-weight: 700;
        color: $color-main;

        i {
            font-size: 15px;
            margin-right: 8px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        a {
            font-size: 18px;
            color: $color-text-light;
        }
    }
}
//- End box-share 